/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
    /* Spacing
       ----------------------------------------------------------------- */
    --pritive-spacing: 4px;
    --spacing-3xs: calc(var(--pritive-spacing) * 1);
    --spacing-xxs: calc(var(--pritive-spacing) * 2);
    --spacing-xs: calc(var(--pritive-spacing) * 4);
    --spacing-sm: calc(var(--pritive-spacing) * 6);
    --spacing-md: calc(var(--pritive-spacing) * 8);
    --spacing-lg: calc(var(--pritive-spacing) * 10);
    --spacing-xl: calc(var(--pritive-spacing) * 12);
    --spacing-xxl: calc(var(--pritive-spacing) * 16);
    --spacing-none: 0;

    /* Border Radius
       ----------------------------------------------------------------- */
    --border-radius-sm: 4px;
    --border-radius-md: 6px;
    --border-radius-lg: 8px;
    --border-radius-xl: 10px;
    --border-radius-full: 10000px;


    /* Font Size
       ----------------------------------------------------------------- */
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
    --font-size-3xl: 48px;

    /* Font Weight
       ----------------------------------------------------------------- */
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --fontweight-current: var(--font-weight-bold);


    /* Line Height
       ----------------------------------------------------------------- */
    --line-height-none: 1;
    --line-height-tight: 1.3;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.8;


    /* Primitive Colors
    ----------------------------------------------------------------- */
    --color-blue-900: #5551ff;
    --color-cyan-900: #1a73e8;
    --color-red-900: #e01e5a;
    --color-red-100: #FFF9F9;
    --color-wellow-900: #ffcc17;
    --color-orange-700: #ff834f;
    --color-gray-orange-800: #D6D3D0;
    --color-gray-orange-900: #F2F1F0;
    --color-gray-red-900: #dddddd;
    --color-green-900: #0F857F;
    --color-black-900: #000000de;
    --color-black-600: #00000099;
    --color-black-400: #00000061;
    --color-white-900: #ffffff;

    /* Text Colors
       ----------------------------------------------------------------- */
    --color-text-main: var(--color-black-900);
    --color-text-sub: var(--color-black-600);
    --color-text-disabled: var(--color-black-400);
    --color-text-white: var(--color-white-900);
    --color-text-red: var(--color-red-900);
    --color-text-link: var(--color-cyan-900);

    /* Button Colors(background-color)
       ----------------------------------------------------------------- */
    --color-button-primary: var(--color-blue-900);
    --color-button-secoundary: var(--color-white-900);
    --color-button-warning: var(--color-red-900);
    --color-button-test: var(--color-white-900);

    /* Form Colors(background-color)
       ----------------------------------------------------------------- */
    --color-form-normal: var(--color-white-900);
    --color-form-warning: var(--color-red-900);

    /* Background Colors
    ----------------------------------------------------------------- */
    --color-background-base: var(--color-white-900);
    --color-background-base_current: var(--color-gray-orange-900);
    --color-background-main: var(--color-blue-900);
    --color-background-error: var(--color-red-100);

    /* Accent Colors
       ----------------------------------------------------------------- */
    --color-accent-warning: var(--color-wellow-900);
    --color-accent-danger: var(--color-red-900);

    /* Label Colors
       ----------------------------------------------------------------- */
    --color-label-yellow: var(--color-wellow-900);
    --color-label-orange: var(--color-orange-700);
    --color-label-red: var(--color-red-900);
    --color-label-green: var(--color-green-900);
    --color-label-gray: var(--color-black-600);
    --color-label-blue: var(--color-blue-900);

    /* Border Colors
       ----------------------------------------------------------------- */
    --color-border-normal: var(--color-gray-red-900);
    --color-border-current: var(--color-black-900);
    --color-border-warning: var(--color-red-900);
    --color-border-focus: var(--color-blue-900);
    --color-border-triangle-select: var(--color-blue-900);

    /* Border
       ----------------------------------------------------------------- */
    --border-normal: 1px solid var(--color-border-normal);
    --border-warning: 2px solid var(--color-border-warning);
    --border-current: 1px solid var(--color-border-current);
    --border-triangle-select: 2px solid var(--color-border-triangle-select);

    /* Opacity
       ----------------------------------------------------------------- */
    --opacity-hover: 50%;
    --opacity-disabled: 50%;

    /* Width
       ----------------------------------------------------------------- */
    --width-user-management-wrapper: 568px;
}

/* ==========================================================================
   Foundation
   ========================================================================== */

body {
    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--color-background-base);
    color: var(--color-text-main);
}


em {
    font-style: normal;
    font-weight: var(--font-weight-bold);
}


strong {
    color: var(--color-text-red);
    font-weight: var(--font-weight-bold);
}


/* ==========================================================================
   Layout
   ========================================================================== */
/*接頭辞は l */
.l-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.l-header {
    width: 100%;
    padding: 16px 80px;
    border-bottom: var(--border-normal);
    overflow: hidden;
    margin-bottom: 16px;
}

.l-main {
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 16px;
    overflow: hidden;
}

.l-sidebar__container {
    float: left;
    width: 296px;
}

.l-main__my-page {
    float: left;
    width: calc(1280px - 296px);
    padding: 0 calc((1280px - 296px - 308 * 2px - 16px) / 2);
    overflow: hidden;
}

.l-footer {
    width: 100%;
    padding: 16px 80px;
    border-top: var(--border-normal);
    overflow: hidden;
}


/* ==========================================================================
   Components
   ========================================================================== */
/*ページで共通のもの*/
/*接頭辞は c */

/*リンクテキスト*/

/*ヘッダーコンポーネント*/
.c-header-title {
    float: left;
    padding: 12px;
}

.c-header-title__link {
}

.c-header-title__img {
}

.c-header-nav {
    float: right;
}

.c-header-nav__item {
    float: left;
    margin-left: 16px;
}

/*フッターコンポーネント*/
.c-footer {
    width: 100%;
    padding: 16px 80px;
    overflow: hidden;
}

.c-footer-nav {
    overflow: hidden;
    float: left;
}

.c-footer-nav__list {
    float: left;
    padding: 8px;
}

.c-footer-nav__list.--active {
    border-bottom: var(--border-current);
    border-bottom-width: 4px;
}

.c-footer-nav__item {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.c-footer-nav__list.--active .c-footer-nav__item {
    font-weight: var(--font-weight-bold);
}

.c-footer-copyright {
    float: right;
    padding: 8px;
}

.c-footer-copyright__item {
}

/*メインコンテンツのコンポーネント*/
.c-main__title {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-lg);
    text-align: center;
}

.c-main__message {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-md);
}

.c-main__message.--error {
    color: var(--color-text-red);

}

/*サイドバー*/

/*規約の本文*/
/*チェックボックスのテキスト*/


/*カードの文字*/


/* ボタン
   ----------------------------------------------------------------- */

.c-button {
    padding: 12px 16px;
    border-radius: 10px;
    color: var(--color-text-main);
    cursor: pointer;
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.c-button.--full-width {
    width: 100%;
}

.c-button__primary {
    background-color: var(--color-button-primary);
    color: var(--color-text-white);
}

.c-button__secondary {
    background-color: var(--color-background-base);
    color: var(--color-text-main);
    border: var(--border-normal);
}

.c-button__warning {
    background-color: var(--color-button-warning);
    color: var(--color-text-white);
}

.c-button__text {
    background-color: var(--color-background-base);
    color: var(--color-text-main);
}

/* フォーム
   ----------------------------------------------------------------- */

.form--label {

}


.form--sub-label {

}

.form--help-message {

}

.form--err-message {

}

/* 一覧画面のツールバー
   ----------------------------------------------------------------- */
/*セレクトボックス*/
.c-select__wrap {
    position: relative;
}


.c-select__wrap::before {
    position: absolute;
    top: 40%;
    right: 0.6em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--color-border-triangle-select);
    pointer-events: none;
}

.c-select__box {
    font-size: var(--font-size-sm);
    padding: .5em 2em .5em .9em;
    line-height: var(--line-height-normal);
    border: var(--border-normal);
    border-radius: var(--border-radius-lg);
    background-color: transparent;
    -webkit-appearance: none;
    color: var(--color-text-sub);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    appearance: none;
}

.-c-select__box::-ms-expand {
    display: none;
}


.c-tools-container {
    overflow: hidden;
    padding-bottom: var(--spacing-xs);
}

.c-filters-container {
    float: left;
}

.c-results-count__container {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

.c-results-count {
    color: var(--color-text-sub);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
}

.c-filters-column {
    float: left;
    margin-right: var(--spacing-xxs);
}

/* ページング
   ----------------------------------------------------------------- */
.c-paging__layout {
    text-align: center;
    max-width: 100%;
}

.c-paging__list {
    display: inline-block;
    overflow: hidden;
    padding: 16px 0;
}

.c-paging__item {
    float: left;
    padding: 8px 16px;
    border: var(--border-normal);
    border-radius: var(--border-radius-lg);
    background: var(--color-background-base);
    cursor: pointer;
}

.c-paging__item + .c-paging__item {
    margin-left: 16px;
}

.c-paging__item.is-active {
    color: var(--color-text-white);
    background: var(--color-background-main);
}

.c-paging__item a {
    line-height: var(--line-height-tight);
    color: var(--color-text-main);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
}

.c-paging__item.is-active a {
    color: var(--color-text-white);
    font-weight: var(--font-weight-bold);
}


/* コンテンツないときの代替テキスト
   ----------------------------------------------------------------- */
.c-alternate-text__container {
    text-align: center;
    padding-top: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxl);
}

.c-alternate-text {
    line-height: var(--line-height-normal);
    color: var(--color-text-main);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
}

/* input要素
   ----------------------------------------------------------------- */
.c-input__container {
    width: 100%;
    margin-bottom: var(--spacing-xl);
}


.c-input__label {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

.c-input__sub-label {
    color: var(--color-text-sub);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    /*margin-bottom: var(--spacing-xl);*/
}

.c-input__help-message {
    color: var(--color-text-sub);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    /*margin-bottom: var(--spacing-xl);*/
}

.c-input__error-message {
    color: var(--color-text-red);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    /*margin-bottom: var(--spacing-xl);*/
}

.c-input__body {
    border: var(--border-normal);
    border-radius: var(--border-radius-lg);
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    padding: var(--spacing-xs) var(--spacing-xxs);
    margin-top: var(--spacing-xxs);
    width: 100%;
    /*margin-bottom: var(--spacing-xl);*/
}

.c-input__body.error {
    background: var(--color-background-error);
    border: var(--border-warning);
}

.c-input__counter {
    color: var(--color-text-sub);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    text-align: right;
}


/* ステータスラベル
   ----------------------------------------------------------------- */
.c-status-label {
    padding: 4px 8px;
    border-radius: var(--border-radius-md);
    background-color: var(--color-label-gray);
    color: var(--color-text-white);
    line-height: var(--line-height-tight);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
}

.c-status-label.--orange {
    background-color: var(--color-label-orange);
}

.c-status-label.--blue {
    background-color: var(--color-label-blue);
}

.c-status-label.--green {
    background-color: var(--color-label-green);
}

.c-status-label.--yellow {
    background-color: var(--color-label-yellow);
}

.c-status-label.--red {
    background-color: var(--color-label-red);
}


/* 共通テキスト
   ----------------------------------------------------------------- */
.c-text {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.c-text__link {
    color: var(--color-text-link);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
}

.c-text__link.--underline {
    color: var(--color-text-link);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}

/* チェックボックス
   ----------------------------------------------------------------- */
.c-checkbox__container {
    margin-bottom: var(--spacing-xl);
}

.c-checkbox__container::after {
    display: block;
    content: '';
    clear: both;
}

.c-checkbox__label {
    float: left;
}

.c-checkbox__body {
    position: absolute;
    left: -9999em;
}

.c-checkbox__name {
    display: block;
    position: relative;
    padding-left: 32px;
    user-select: none;
}


.c-checkbox__name::before {
    position: absolute;
    top: 54%;
    left: 0;
    font-size: var(--font-size-md);
    width: 24px;
    height: 24px;
    content: "";
    border: var(--border-normal);
    border-radius: var(--border-radius-sm);
    transform: translateY(-50%);
}

.c-checkbox__name::after {
    box-sizing: border-box;
    position: absolute;
    top: 0.2em;
    left: 0.5em;
    width: 0.5em;
    height: 1em;
    border-right: 2px solid var(--color-text-main);
    border-bottom: 2px solid var(--color-text-main);
    transform: rotate(40deg);
}

.c-checkbox__body:focus + .c-checkbox__name::before {
    border-color: #4fa0e7;
    box-shadow: 0 0 5px #0d7ee0;
}


.c-checkbox__body:checked + .c-checkbox__name::after {
    content: "";
}

/* ユーザー管理関係
   ----------------------------------------------------------------- */
.c-user-management__wrapper {
    max-width: var(--width-user-management-wrapper);
    margin-left: auto;
    margin-right: auto;
}


/* 区切り線
   ----------------------------------------------------------------- */

.c-hr {
    color: var(--color-border-normal);
    margin-bottom: var(--spacing-lg);
}

/* ==========================================================================
   Project
   ========================================================================== */
/*詳細画面のパーツなどサービス特有の画面のパーツ*/
/*接頭辞は p */

/* 一覧画面のカード
   ----------------------------------------------------------------- */
.p-card__container {
    overflow: hidden;
}

/*海岸一覧ページのカードのレイアウト*/
.p-card__layout {
    float: left;
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-sm);
    width: 308px;
}

.p-card__layout:nth-child(4n) {
    margin-right: var(--spacing-none);
}

/*マイページのカードのレイアウト*/
.p-card__layout.--my-page {
    float: left;
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-sm);
    width: 308px;
}


.p-card__layout.--my-page:nth-child(odd) {
    margin-right: var(--spacing-none);
}

.p-card {
    width: inherit;
    padding-bottom: var(--spacing-3xs);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 25%);
}

.p-card__link {
}

.p-card__head {
    width: 100%;
    height: 219px;
}

.p-card__img {
    height: 100%;
    width: auto;
}

.p-card__foot {
    padding: 16px;
}

.p-card__title-container {
}

.p-card__title {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-md);
}

.p-card__sub-title-container {
}

.p-card__sub-title {
    color: var(--color-text-sub);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}


/* 海岸詳細のメイン画像
   ----------------------------------------------------------------- */
.p-facility-image__container {
    margin: var(--spacing-xs) calc(50% - 50vw);
}

.p-facility-image__main {
    width: 100%;
    /*margin: var(--spacing-xs) calc(50% - 50vw);*/
    height: auto;
}

/* 海岸詳細のサムネイル画像
   ----------------------------------------------------------------- */
.p-facility-thumbnail__container {
    width: 100%;
    text-align: center;
    margin-bottom: var(--spacing-md);
}

.p-facility-thumbnail__list {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.p-facility-thumbnail__item {
    float: left;
    margin-right: var(--spacing-xs);
    width: 270px;
    height: 192px;
}

.p-facility-thumbnail__item:nth-child(3n) {
    margin-right: var(--spacing-none);
}

.p-facility-thumbnail__item img {
    width: 100%;
    height: auto;
}

/* 海岸詳細画面のコンポーネント
   ----------------------------------------------------------------- */
.p-facility-detail__wrapper {
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
}

.p-facility-detail__title {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-xl);
}

.p-facility-description__container {
}

.p-facility-description__title {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-md);
}

.p-facility-description__list {
}

.p-facility-description__list dt {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-md);
}

.p-facility-description__list dd {
    color: var(--color-text-link);
    cursor: pointer;
    line-height: var(--line-height-normal);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-lg);
    margin-left: var(--spacing-xs);
}

.p-facility-description__list. dd:last-child {
    margin-bottom: var(--spacing-md);
}


/* ==========================================================================
   Utility
   ========================================================================== */
/*接頭辞は u */

.debug-label {
    color: var(--color-text-main);
    background: var(--color-label-orange);
    padding: var(--spacing-md);
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xs);
}


.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-float--left {
    float: left;
}

.u-mb-24 {
    margin-bottom: var(--spacing-sm);
}

.p-button-horizontal-wrapper {
    overflow: hidden;
}

.p-button-horizontal-wrapper > .c-button {
    /*(568px - 16px) / 2 */
    width: 276px;
}

.c-sidebar__list-title {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    border-bottom: var(--border-normal);
}

.c-sidebar__list {
}

.c-sidebar__item {
    padding-top: var(--spacing-xxs);
    padding-bottom: var(--spacing-xxs);
    padding-left: var(--spacing-xxs);
    border-bottom: var(--border-normal);
}

.c-sidebar__item.--active {
    background: var(--color-background-base_current);
}

.c-sidebar__item a {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.c-sidebar__item.--border-top {
    border-top: var(--border-normal);
}
