/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
    /* Spacing
       ----------------------------------------------------------------- */
    --pritive-spacing: 4px;
    --spacing-3xs: calc(var(--pritive-spacing) * 1);
    --spacing-xxs: calc(var(--pritive-spacing) * 2);
    --spacing-xs: calc(var(--pritive-spacing) * 4);
    --spacing-sm: calc(var(--pritive-spacing) * 6);
    --spacing-md: calc(var(--pritive-spacing) * 8);
    --spacing-lg: calc(var(--pritive-spacing) * 10);
    --spacing-xl: calc(var(--pritive-spacing) * 12);
    --spacing-xxl: calc(var(--pritive-spacing) * 16);
    --spacing-none: 0;

    /* Border Radius
       ----------------------------------------------------------------- */
    --border-radius-sm: 4px;
    --border-radius-md: 6px;
    --border-radius-lg: 8px;
    --border-radius-xl: 10px;
    --border-radius-full: 10000px;


    /* Font Size
       ----------------------------------------------------------------- */
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
    --font-size-3xl: 48px;

    /* Font Weight
       ----------------------------------------------------------------- */
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --fontweight-current: var(--font-weight-bold);


    /* Line Height
       ----------------------------------------------------------------- */
    --line-height-none: 1;
    --line-height-tight: 1.3;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.8;


    /* Primitive Colors
    ----------------------------------------------------------------- */
    --color-blue-900: #5551ff;
    --color-cyan-900: #1a73e8;
    --color-red-900: #e01e5a;
    --color-red-100: #FFF9F9;
    --color-wellow-900: #ffcc17;
    --color-orange-700: #ff834f;
    --color-gray-orange-800: #D6D3D0;
    --color-gray-orange-900: #F2F1F0;
    --color-gray-red-900: #dddddd;
    --color-green-900: #0F857F;
    --color-black-900: #000000de;
    --color-black-600: #00000099;
    --color-black-400: #00000061;
    --color-white-900: #ffffff;

    /* Text Colors
       ----------------------------------------------------------------- */
    --color-text-main: var(--color-black-900);
    --color-text-sub: var(--color-black-600);
    --color-text-disabled: var(--color-black-400);
    --color-text-white: var(--color-white-900);
    --color-text-red: var(--color-red-900);
    --color-text-link: var(--color-cyan-900);

    /* Button Colors(background-color)
       ----------------------------------------------------------------- */
    --color-button-primary: var(--color-blue-900);
    --color-button-secoundary: var(--color-white-900);
    --color-button-warning: var(--color-red-900);
    --color-button-test: var(--color-white-900);

    /* Form Colors(background-color)
       ----------------------------------------------------------------- */
    --color-form-normal: var(--color-white-900);
    --color-form-warning: var(--color-red-900);

    /* Background Colors
    ----------------------------------------------------------------- */
    --color-background-base: var(--color-white-900);
    --color-background-base_current: var(--color-gray-orange-900);
    --color-background-image_upload: var(--color-gray-orange-900);
    --color-background-main: var(--color-blue-900);
    --color-background-error: var(--color-red-100);

    /* Accent Colors
       ----------------------------------------------------------------- */
    --color-accent-warning: var(--color-wellow-900);
    --color-accent-danger: var(--color-red-900);

    /* Label Colors
       ----------------------------------------------------------------- */
    --color-label-yellow: var(--color-wellow-900);
    --color-label-orange: var(--color-orange-700);
    --color-label-red: var(--color-red-900);
    --color-label-green: var(--color-green-900);
    --color-label-gray: var(--color-black-600);
    --color-label-blue: var(--color-blue-900);

    /* Border Colors
       ----------------------------------------------------------------- */
    --color-border-normal: var(--color-gray-red-900);
    --color-border-current: var(--color-black-900);
    --color-border-warning: var(--color-red-900);
    --color-border-focus: var(--color-blue-900);
    --color-border-triangle-select: var(--color-blue-900);
    --color-border-nortification-success: var(--color-blue-900);

    /* Border
       ----------------------------------------------------------------- */
    --border-normal: 1px solid var(--color-border-normal);
    --border-warning: 2px solid var(--color-border-warning);
    --border-current: 1px solid var(--color-border-current);
    --border-triangle-select: 2px solid var(--color-border-triangle-select);
    --border-nortification-success: 1px solid var(--color-border-nortification-success);
    --border-facility-detail-container: 4px solid var(--color-gray-orange-800);

    /* Opacity
       ----------------------------------------------------------------- */
    --opacity-hover: 50%;
    --opacity-disabled: 50%;

    /* Width
       ----------------------------------------------------------------- */
    --width-user-management-wrapper: 568px;

    /* size
       ----------------------------------------------------------------- */
    --size-upload-avatar-image: 160px;
    --size-upload-facility-image: 160px;

}

/* ==========================================================================
   Foundation
   ========================================================================== */

body {
    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--color-background-base);
    color: var(--color-text-main);
}

body.--home {
    font-size: 0;
}

em {
    font-style: normal;
    font-weight: var(--font-weight-bold);
}


strong {
    color: var(--color-text-red);
    font-weight: var(--font-weight-bold);
}


/* ==========================================================================
   Layout
   ========================================================================== */
/*接頭辞は l */
.l-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.l-header {
    width: 100%;
    padding: 16px 80px;
    border-bottom: var(--border-normal);
    overflow: hidden;
    margin-bottom: 16px;
    background: #ffffff;
    position: relative;
}

.l-header.--home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 15%);
    z-index: 1;
}

.l-main {
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 16px;
    overflow: hidden;
}

.l-main.--home {
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50% - 50vw);
    width: auto;
}

.l-sidebar__container {
    float: left;
    width: 296px;
}

.l-main__my-page {
    float: left;
    width: calc(100% - 296px);
    padding-left: 176px;
    padding-right: 176px;
    overflow: hidden;
}

.l-footer {
    width: 100%;
    padding: 16px 80px;
    border-top: var(--border-normal);
    overflow: hidden;
}


/* ==========================================================================
   Components
   ========================================================================== */
/*ページで共通のもの*/
/*接頭辞は c */

/*リンクテキスト*/

/*ヘッダーコンポーネント*/
.c-header-title {
    float: left;
    padding: 12px;
}

.c-header-title__link {
}

.c-header-title__img {
}

.c-header-nav {
    float: right;
}

.c-header-nav__item {
    float: left;
    margin-left: 16px;
}

/*フッターコンポーネント*/
.c-footer {
    width: 100%;
    padding: 16px 80px;
    overflow: hidden;
}

.c-footer-nav {
    overflow: hidden;
    float: left;
}

.c-footer-nav__list {
    float: left;
    padding: 8px;
}

.c-footer-nav__list.--active {
    border-bottom: var(--border-current);
    border-bottom-width: 4px;
}

.c-footer-nav__item {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.c-footer-nav__list.--active .c-footer-nav__item {
    font-weight: var(--font-weight-bold);
}

.c-footer-copyright {
    float: right;
    padding: 8px;
}

.c-footer-copyright__item {
}

/*メインコンテンツのコンポーネント*/
.c-main__title {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-lg);
    text-align: center;
}

.c-main__message {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-md);
    text-align: center;
}

.c-main__message.--error {
    color: var(--color-text-red);

}

/*サイドバー*/

/*規約の本文*/
/*チェックボックスのテキスト*/


/*カードの文字*/


/* ボタン
   ----------------------------------------------------------------- */

.c-button {
    padding: 12px 16px;
    border-radius: 10px;
    color: var(--color-text-main);
    cursor: pointer;
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    text-align: center;
    transition: all .2s ease;
}

.c-button:hover {
    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, .14);
    transform: translateY(-1px);
}

.c-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.c-button.--full-width {
    width: 100%;
}

.c-button__primary {
    background-color: var(--color-button-primary);
    color: var(--color-text-white);
}

.c-button__secondary {
    background-color: var(--color-background-base);
    color: var(--color-text-main);
    border: var(--border-normal);
}

.c-button__warning {
    background-color: var(--color-button-warning);
    color: var(--color-text-white);
}

.c-button__text {
    background-color: var(--color-background-base);
    color: var(--color-text-main);
}

.c-button__text.--warning {
    color: var(--color-text-red);
}

.c-button__ctr {
    color: var(--color-text-white);
    background-color: var(--color-orange-700);
    border-radius: var(--border-radius-full);
    font-size: 20px;
    padding-right: 80px;
    padding-left: 80px;
}


/* フォーム
   ----------------------------------------------------------------- */

.form--label {

}


.form--sub-label {

}

.form--help-message {

}

.form--err-message {

}

/* 一覧画面のツールバー
   ----------------------------------------------------------------- */
/*セレクトボックス*/
.c-select__wrap {
    position: relative;
}

.c-select__wrap--register {
    position: relative;
}

.c-select__wrap::before {
    position: absolute;
    top: 50%;
    right: 0.6em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--color-border-triangle-select);
    pointer-events: none;
}

.c-select__wrap--register::before {
    position: absolute;
    top: 53%;
    right: 24px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--color-border-triangle-select);
    pointer-events: none;
}

.c-select__box {
    font-size: var(--font-size-sm);
    padding: .5em 2em .5em .9em;
    line-height: var(--line-height-normal);
    border: var(--border-normal);
    border-radius: var(--border-radius-lg);
    background-color: transparent;
    -webkit-appearance: none;
    color: var(--color-text-sub);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    appearance: none;
    width: 100%;
    margin-top: 8px;
}

.c-select__box--register {
    font-size: var(--font-size-md);
    padding: var(--spacing-xs) var(--spacing-xs);
    line-height: var(--line-height-normal);
    border: var(--border-normal);
    border-radius: var(--border-radius-lg);
    background-color: transparent;
    -webkit-appearance: none;
    color: var(--color-text-main);
    font-weight: var(--font-weight-normal);
    cursor: pointer;
    appearance: none;
    width: 100%;
    margin-top: 8px;
}

.-c-select__box::-ms-expand {
    display: none;
}


.c-tools-container {
    overflow: hidden;
    padding-bottom: var(--spacing-xs);
}

.c-filters-container {
    float: left;
}

.c-results-count__container {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

.c-results-count {
    color: var(--color-text-sub);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
}

.c-filters-column {
    float: left;
    margin-right: var(--spacing-xxs);
}

/* ページング
   ----------------------------------------------------------------- */
.c-paging__layout {
    text-align: center;
    max-width: 100%;
}

.c-paging__list {
    display: inline-block;
    overflow: hidden;
    padding: 16px 0;
}

.c-paging__item {
    float: left;
    border: var(--border-normal);
    border-radius: var(--border-radius-lg);
    background: var(--color-background-base);
    cursor: pointer;
}

.c-paging__item a {
    display: block;
    padding: 8px 16px;
}

.c-paging__item + .c-paging__item {
    margin-left: 16px;
}

.c-paging__item.is-active {
    color: var(--color-text-white);
    background: var(--color-background-main);
}

.c-paging__item a {
    line-height: var(--line-height-tight);
    color: var(--color-text-main);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
}

.c-paging__item.is-active a {
    color: var(--color-text-white);
    font-weight: var(--font-weight-bold);
}


/* コンテンツないときの代替テキスト
   ----------------------------------------------------------------- */
.c-alternate-text__container {
    text-align: center;
    padding-top: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxl);
}

.c-alternate-text {
    line-height: var(--line-height-normal);
    color: var(--color-text-main);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
}

/* input要素
   ----------------------------------------------------------------- */
.c-input__container {
    width: 100%;
    margin-bottom: var(--spacing-xl);
}


.c-input__label {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

.c-input__sub-label {
    color: var(--color-text-sub);
    line-height: var(--line-height-tight);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-3xs);
    margin-top: var(--spacing-3xs);
}

.c-input__help-message {
    color: var(--color-text-sub);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    /*margin-bottom: var(--spacing-xl);*/
}

.c-input__error-message {
    color: var(--color-text-red);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    /*margin-bottom: var(--spacing-xl);*/
}

.c-input__body {
    border: var(--border-normal);
    border-radius: var(--border-radius-lg);
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    padding: var(--spacing-xs) var(--spacing-xxs);
    margin-top: var(--spacing-xxs);
    width: 100%;
    /*margin-bottom: var(--spacing-xl);*/
}

.c-input__body.error {
    background: var(--color-background-error);
    border: var(--border-warning);
}

.c-input__counter {
    color: var(--color-text-sub);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    text-align: right;
}


/* ステータスラベル
   ----------------------------------------------------------------- */
.c-status-label {
    padding: 4px 8px;
    border-radius: var(--border-radius-md);
    background-color: var(--color-label-gray);
    color: var(--color-text-white);
    line-height: var(--line-height-tight);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
}

.c-status-label.--orange {
    background-color: var(--color-label-orange);
}

.c-status-label.--blue {
    background-color: var(--color-label-blue);
}

.c-status-label.--green {
    background-color: var(--color-label-green);
}

.c-status-label.--yellow {
    background-color: var(--color-label-yellow);
}

.c-status-label.--red {
    background-color: var(--color-label-red);
}


/* 共通テキスト
   ----------------------------------------------------------------- */
.c-text {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.c-text__link {
    color: var(--color-text-link);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
}

.c-text__link.--underline {
    color: var(--color-text-link);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}

/* チェックボックス
   ----------------------------------------------------------------- */
.c-checkbox__container {
    margin-bottom: var(--spacing-xl);
}

.c-checkbox__container::after {
    display: block;
    content: '';
    clear: both;
}

.c-checkbox__label {
    float: left;
}

.c-checkbox__body {
    position: absolute;
    left: -9999em;
}

.c-checkbox__name {
    display: block;
    position: relative;
    padding-left: 32px;
    user-select: none;
}


.c-checkbox__name::before {
    position: absolute;
    top: 54%;
    left: 0;
    font-size: var(--font-size-md);
    width: 24px;
    height: 24px;
    content: "";
    border: var(--border-normal);
    border-radius: var(--border-radius-sm);
    transform: translateY(-50%);
}

.c-checkbox__name::after {
    box-sizing: border-box;
    position: absolute;
    top: 0.2em;
    left: 0.5em;
    width: 0.5em;
    height: 1em;
    border-right: 2px solid var(--color-text-main);
    border-bottom: 2px solid var(--color-text-main);
    transform: rotate(40deg);
}

.c-checkbox__body:focus + .c-checkbox__name::before {
    border-color: #4fa0e7;
    box-shadow: 0 0 5px #0d7ee0;
}


.c-checkbox__body:checked + .c-checkbox__name::after {
    content: "";
}

/* ユーザー管理関係
   ----------------------------------------------------------------- */
.c-user-management__wrapper {
    max-width: var(--width-user-management-wrapper);
    margin-left: auto;
    margin-right: auto;
}


/* 区切り線
   ----------------------------------------------------------------- */

.c-hr {
    color: var(--color-border-normal);
    margin-bottom: var(--spacing-lg);
}

/* ==========================================================================
   Project
   ========================================================================== */
/*詳細画面のパーツなどサービス特有の画面のパーツ*/
/*接頭辞は p */

/* 一覧画面のカード
   ----------------------------------------------------------------- */
.p-card__container {
    overflow: hidden;
}

/*海岸一覧ページのカードのレイアウト*/
.p-card__layout {
    float: left;
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-sm);
    width: calc((100% - 16px * 3) / 4);
    min-width: 272px;
}

.p-card__layout--two-column {
    float: left;
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-sm);
    width: calc((100% - 16px) / 2);
    min-width: 272px;
}

.p-card__layout:nth-child(4n) {
    margin-right: var(--spacing-none);
}

.p-card__layout--two-column:nth-child(2n+1) {
    margin-right: var(--spacing-none);
}

/*マイページのカードのレイアウト*/
.p-card__layout.--my-page {
    float: left;
    margin-right: var(--spacing-xs);
    margin-bottom: var(--spacing-sm);
    width: calc((100% - 16px) / 2);
    min-width: 272px;
}


.p-card__layout.--my-page:nth-child(odd) {
    margin-right: var(--spacing-none);
}

.p-card {
    width: 100%;
    padding-bottom: var(--spacing-3xs);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 25%);
}

.p-card__link {
}

.p-card__head {
    width: 100%;
    height: 219px;
    position: relative;
}

.p-card__alternate-image-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    color: var(--color-text-white);
    text-align: center;
    line-height: 219px;
    font-size: var(--font-size-lg);
}

.p-card__img {
    height: 100%;
    width: auto;
}

.p-card__foot {
    padding: 16px;
}

.p-card__title-container {
}

.p-card__title {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: 18px;
    font-weight: var(--font-weight-normal);
}

.p-card__sub-title-container {
}

.p-card__sub-title {
    color: var(--color-text-sub);
    line-height: var(--line-height-normal);
    font-size: 15px;
    font-weight: var(--font-weight-normal);
}


/* 海岸詳細のメイン画像
   ----------------------------------------------------------------- */
.p-facility-image__container {
    width: 1440px;
    height: auto;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}

.p-facility-image__list {
    position: relative;
}

.p-facility-image__item {
    width: 1440px;
    float: left;
}

.p-facility-image__alternate-image-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    color: var(--color-text-white);
    text-align: center;
    line-height: 800px;
    font-size: 112px;
}

.p-facility-image__main {
    width: 100%;
    /*画面の幅の変更に対応できないので、jQueryで幅を指定する*/
    height: auto;
}

/* 海岸詳細のサムネイル画像
   ----------------------------------------------------------------- */
.p-facility-thumbnail__container {
    width: 100%;
    text-align: center;
    margin-bottom: var(--spacing-md);
}

.p-facility-thumbnail__list {
    display: inline-block;
    width: 100%;
}

.p-facility-thumbnail__list::after {
    content: "";
    display: block;
    clear: both;
}

.p-facility-thumbnail__item {
    float: left;
    margin-right: var(--spacing-xs);
    width: 270px;
    height: 192px;
    position: relative;
    overflow: hidden;
}

.p-facility-thumbnail__alternate-image-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    color: var(--color-text-white);
    text-align: center;
    line-height: 170px;
    font-size: var(--font-size-md);
}

.p-facility-thumbnail__item:nth-child(3n) {
    margin-right: var(--spacing-none);
}

.p-facility-thumbnail__item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all .2s ease;
}

.p-facility-thumbnail__item img:hover {
    transform: scale(1.2);
}

/* 海岸詳細画面のコンポーネント
   ----------------------------------------------------------------- */
.p-facility-detail__wrapper {
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
}

/*.p-facility-detail__title {*/
/*    color: var(--color-text-main);*/
/*    line-height: var(--line-height-relaxed);*/
/*    font-size: var(--font-size-3xl);*/
/*    font-weight: var(--font-weight-normal);*/

/*}*/

.p-facility-description__container {
    border-bottom: solid 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.p-facility-description__title {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-xxs);
}

.p-facility-description__list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    /*padding-bottom: 8px;*/
}

.p-facility-description__list dt {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-3xs);
}

.p-facility-description__list dd {
    color: var(--color-text-link);
    cursor: pointer;
    line-height: var(--line-height-normal);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-xxs);
    margin-left: var(--spacing-xs);
}

.p-facility-description__list. dd:last-child {
    margin-bottom: var(--spacing-md);
}


/* ==========================================================================
   Utility
   ========================================================================== */
/*接頭辞は u */

.debug-label {
    color: var(--color-text-main);
    background: var(--color-label-orange);
    padding: var(--spacing-md);
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xs);
}

.u-display-block {
    display: block;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-float--left {
    float: left;
}

.u-ml-16 {
    margin-left: var(--spacing-3xs);
}

.u-ml-24 {
    margin-left: var(--spacing-sm);
}

.u-mb-24 {
    margin-bottom: var(--spacing-sm);
}

.u-mb-48 {
    margin-bottom: var(--spacing-xl);
}

.u-mb-8 {
    margin-bottom: var(--spacing-xs);
}

.u-mr-24 {
    margin-right: var(--spacing-sm);
}

.p-button-horizontal-wrapper {
    overflow: hidden;
}

.p-button-horizontal-wrapper > .c-button {
    /*(568px - 16px) / 2 */
    width: 276px;
}

.c-sidebar__list-title {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    border-bottom: var(--border-normal);
}

.c-sidebar__list {
}

.c-sidebar__item {
    padding-top: var(--spacing-xxs);
    padding-bottom: var(--spacing-xxs);
    padding-left: var(--spacing-xxs);
    border-bottom: var(--border-normal);
}

.c-sidebar__item:hover {
    background: #efefef;
}

.c-sidebar__item.--active {
    background: var(--color-background-base_current);
}

.c-sidebar__item a {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.c-sidebar__item.--border-top {
    border-top: var(--border-normal);
}

.c-image-upload__label {
    position: relative;
    display: block;
    border-radius: var(--border-radius-sm);
    width: var(--size-upload-avatar-image);
    height: var(--size-upload-avatar-image);
    color: var(--color-text-sub);
    line-height: var(--size-upload-avatar-image);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    background: var(--color-background-image_upload);
    text-align: center;
    margin-top: 8px;
}

.c-image-upload__label.--on-dragging {
    border: 2px solid var(--color-border-focus);
}

.c-image-upload__label.--facility {
    width: 100%;
    height: calc((308px * 2 + 16px) / 1.6);
    line-height: calc((308px * 2 + 16px) / 1.6);
}

.c-image-upload__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;


}

.c-image-upload__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    display: none;
}

.c-image-upload__img.--is-uploaded {
    display: block;
}

.p-my-page__avatar__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.p-my-page__avatar__container img {
    width: 120px;
    height: 120px;
}

.p-my-page__user-name {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    text-align: center;
    margin-bottom: 24px;
}

.p-my-mage__number-of-registrations {
    margin-left: auto;
    margin-right: auto;
}

.p-my-mage__number-of-registrations tr {
    padding-bottom: 32px;
}

.p-my-mage__number-of-registrations td {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    padding-right: 16px;
}

.p-my-mage__number-of-registrations td:nth-child(2n) {
    text-align: right;
}

.p-registered-applications__container {
    padding: 16px;
    border: var(--border-normal);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-radius: var(--border-radius-sm);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 25%);
    cursor: pointer;
}

.p-registered-applications__title {
    float: left;
}

.u-float-right {
    float: right;
}

.u-overflow-hidden {
    overflow: hidden;
}

.c-notification-bar__container {
    text-align: center;
    border: 1px solid var(--color-border-nortification-success);
    background: rgba(26, 115, 232, 0.1);
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
    /*bottom: 0;*/
    left: 0;
    width: 100%;
    display: none;
}

.c-notification-bar__message {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.p-facility-detail__container {
    border-bottom: var(--border-facility-detail-container);
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.p-facility-detail__title {
    color: var(--color-text-main);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    /*padding-right: 16px;*/
}

.p-facility-detail__sub-title {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: 22px;
    font-weight: var(--font-weight-normal);
}

.p-facility-detail__list {
}

.p-facility-detail__list + .p-facility-detail__list {
    border: var(--border-normal);

}

.p-facility-detail__item {
    overflow: hidden;
}

.p-facility-detail__icon {
    float: left;
    width: 24px;
    height: 24px;
    /*margin-right: 4px;*/
}

.p-facility-detail__text {
    float: left;
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.p-facility-detail__text.--link {
    color: var(--color-text-link);
}

.p-facility-stakeholder__title-container {
    overflow: hidden;
}

.p-facility-stakeholder__title-icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.p-facility-stakeholder__title {
    float: left;
    color: var(--color-text-main);
    line-height: 40px;
    font-size: 18px;
    font-weight: var(--font-weight-normal);
}

.p-facility-stakeholder__title.--link {
    color: var(--color-text-link);
}

.p-facility-stakeholder__sub-title {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    margin-left: 4px;
}

.p-facility-stakeholder__list {
}

.p-facility-stakeholder__item {
    overflow: hidden;
    margin-left: 4px;
}

.p-facility-stakeholder__item-icon {
    float: left;
    width: 27px;
    height: 24px;
    margin-right: 8px;
}

.p-facility-stakeholder__item-text {
    float: left;
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
}

.p-facility-stakeholder__item-text.--link {
    color: var(--color-text-link);
}

.p-facility-stakeholder__container:not(:last-child) {
    border-bottom: var(--border-normal);
}

.p-facility-stakeholder__container {
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.about__title-middle {
    margin-top: 50px;
    font-size: 24px;
    /*font-weight: 700;*/
}

.about__inner {
}

.about__title-small {
    margin-top: 25px;
    font-size: 18px;
    /*font-weight: 700;*/
}

.about__lead {
    margin-top: 10px;
}

.about__list {
    margin-top: 5px;
}

.about__list-item {
}

.about__list-indent {
    padding-left: 38px;
    text-indent: -38px;
}

.about__list-decimal {
    margin-top: 10px;
    margin-left: 18px;
    list-style-type: decimal;
}

.about__list-indent-nest {
    padding-left: 30px;
    text-indent: -38px;
}

.c-first-view__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #DBF3FF;
    text-align: center;
}

.c-first-view__column {
    float: left;
    margin-top: 40px;
    margin-left: 56px;
    text-align: left;
}

.c-first-view__heading {
    font-size: 40px;
    line-height: 1.5;
    color: #004474;
    margin-bottom: 24px;
    font-weight: bold;
}

.c-first-view__body {
    font-size: 24px;
    line-height: 1.8;
    color: #004474;
    margin-bottom: 24px;
    font-weight: bold;
}


.c-first-view__main-visual {
    float: left;
    width: 742px;
    height: 378px;
    background: #DBF3FF;
}

.c-first-view__main-visual img {
    width: 100%;
    background: #DBF3FF;
}

.c-home__block {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.c-home__block.--bgcolor-blue {
    background: #EDF9FF;
}

.c-home__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 48px;
    color: #004474;
}

.c-home__content-wrap {
    overflow: visible;
    display: inline-block;
}

.c-speech-bubble {
    background: #F0F3F5;
    width: 265px;
    padding: 20px;
    border-radius: 24px;
    position: relative;
    float: left;
    margin-right: 24px;
}

.c-speech-bubble:last-child {
    margin-right: 0;
}

.c-speech-bubble__body {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.c-speech-bubble::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 99px;
    left: 100px;
    border-top: 24px solid #F0F3F5;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
}

.c-home-result-card__container {
    width: 352px;
    margin-right: 40px;
    float: left;
}

.c-home-result-card__container:last-child {
    margin-right: 0;
}

.c-home-result-card__head {
    margin-bottom: 24px;
}

.c-home-result-card__head img {
    width: 100%;
}

.c-home-result-card__foot {
}

.c-home-result-card__header {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}

.c-home-result-card__body {
    font-size: 16px;
    line-height: 2;
    text-align: left;
}

.c-home-quick-start-guide__wrap {
    background: #DBF3FF;
    padding: 32px 56px;
    position: relative;
    float: left;
    margin-right: 88px;
}

.c-home-quick-start-guide__wrap:last-child {
    margin-right: 0;
    overflow: hidden;
}

.c-home-quick-start-guide__wrap::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0px;
    right: -56px;
    border-top: 142px solid transparent;
    border-bottom: 142px solid transparent;
    border-left: 56px solid #DBF3FF;
}

.c-home-quick-start-guide__image {
    margin-bottom: 24px;
}

.c-home-quick-start-guide__image img {
    width: 160px;
    height: 160px;

}

.c-home-quick-start-guide__title {
    font-size: 24px;
    line-height: 1.5;
}

.c-faq {
    border-top: var(--border-normal);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    text-align: left;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}


.c-faq:last-child {
    border-bottom: var(--border-normal);
}

.c-faq__body {
    font-size: 20px;
    line-height: 1.5;
}

.c-faq__body + .c-faq__body {
    margin-top: 16px;
}

.c-notification {
    margin-bottom: 24px;
    padding-left: 32px;
    text-align: left;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


.c-notification__date {
    font-size: 24px;
    line-height: 1.5;
    margin-right: 16px;
}

.c-notification__tag {
    padding: 4px 8px;
    border-radius: var(--border-radius-md);
    background-color: var(--color-label-green);
    color: var(--color-text-white);
    line-height: var(--line-height-tight);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    margin-right: 16px;
    vertical-align: text-bottom;
}

.c-notification__body {
    font-size: 24px;
    line-height: 1.5;
    text-decoration: underline;
}

.u-block-center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.l-header__inner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.c-modal__wrapper {
    background: var(--color-background-base);
    padding: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 40%;
    z-index: 4;
}

.c-modal__title {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    margin-bottom: 40px;
}

.c-modal__body {
    color: var(--color-text-main);
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    margin-bottom: 40px;
}

.c-modal__cover {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}

/*スライダー*/
.slider__arrow {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    top: 50%;
}

.slider__arrow::before,
.slider__arrow::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.slider__arrow-body::before {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 20%);
    z-index: 5;
}

.slider__arrow-body::after {
    left: 15px;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slider__arrow-body--right::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.slider__arrow-body--left::after {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    /*left: 16px;*/
}

.slider__control {
    position: relative;
    height: 1028px;
}

.slider__control-item {
    position: absolute;
    display: block;
    top: 50%;
    right: 10%;
}

.slider__control-item.--right {
    right: 10%;
}

.slider__control-item.--left {
    left: 10%;
}
